<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="${applicationId}.READ_MEDIA" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.READ_MEDIA" />
    <application>
            android:exported="true" android:grantUriPermissions="true" />
        <provider android:name="dev.forma.app.WritableExportTestProvider"
            android:authorities="${applicationId}.writable-export"
